/bin/
/dep/cdrtools/
/dep/lame/
/dep/libogg/
/dep/libsndfile/
/dep/libvorbis/
/dep/smoke/
/dist/
/doc/english/infrarecorder.chm
/obj/
/output/
/src/_ReSharper.infrarecorder_vc10/*
/src/ipch/*
/src/shell/dlldata.c
/src/shell/shell.hh
/src/shell/shell_i.c
/src/shell/shell_p.c
/src/Win32/
/src/x64/
/src/setup/ir_plugin/Win32/
/src/setup/ir_plugin/x64/
/src/tests/test.cc
*.aps
*.ncb
*.opensdf
*.user
*.sdf
*.suo
christian_kindahl.pfx
christian_kindahl.psw
